 {{>menu}}
 <section id="articles_header mb-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card bg-warning text-monospace">
            <div class="card-header">
               
              <a class="display-3 text-decoration-none text-white" href="#">ARTIGOS</a>

             

            </div>

            <div class="card-body">
              <p class="pt-4 text-primary">Descubra novos mundos e locais para viajar</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 bg-info">
          <form>

            <div class="form-group py-1 text-white">
              <label for="formControlSelect" id="formSelect" class="font-weight-bold">Pesquisar por categoria</label>
              <select class="form-control">
                <option>Dicas</option>
                <option>Asia</option>
                <option>America</option>
                <option>Europa</option>
              </select>

            </div>

          </form>
        </div>



      </div>
    </div>
  </section>
  
  
  <div class="mt-4"></div>
  

  <!--Seta as margens superior e inferior-->
  {{!-- <hr class="my-4"> --}}


  <!-- começa da linha-->
  
    <div class="container d-flex justify-content-between">
      <div class="row">
        {{#each posts}}
        <div class="col-4">
            <div class="card">
            <div class="card-title text-center">
              <h4 class="lead">{{this.nome}}</h4>
              <small>{{this.descricao}}</small>
              <img src="../images/{{this.file}}" width="300" height="196">
            </div>
            <div class="card-body justify-text">
              <p>{{this.conteudo}}</p>
            </div>
            <div class="card-footer">
              <small>Categoria: {{this.CategoriumId}}</small>
              <br>
              <small>Data: {{this.data}}</small>
            </div>
          </div>
        </div>
        {{/each}}
    </div>
  
  </div>
  

  {{!-- <div class="row">
    {{#each posts}}
    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/{{this.file}}" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>{{this.nome}}</h3>
          </div>
          <div class="card-text">
              <small>{{this.descricao}}</small>
              <a href="#" class="btn btn-outline-primary rounded-0 float-end" data-bs-toggle="modal" data-bs-target="#postModal">Read more</a>
          </div>
          <p>{{this.conteudo}}</p>
        <div class="card-footer">
          <div>
            <h6> Author | December 25, 2022</h6>
          </div>
       </div>
      </div>
    </div>
    {{/each}}

  </div> --}}

{{>rodape}}