
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4>Nova postagem</h4>

            <form action="/admin/dashboard/posts/add" method="POST" enctype="multipart/form-data">
                <label for="nome"><strong>Título</strong></label>
                <input type="text" name="nome" class="form-control">
                <br>
                <div class="form-group">
                    <label for="file">File Upload</label>
                    <input type="file" name="file" class="form-control" accept="image/*">
                </div>
                <br>
                <label for="categoria"><strong>Categoria</strong></label>
                <select name="categoria" class="custom-select" id="categoria">
                   
                    {{#each categorias}}
                        Valor {{this.id}}
                    <option value="{{this.id}}">{{this.nome}}</option>
                    {{else}}
                        <option value="0">Nenhuma categoria cadastrada</option>
                    {{/each}}
                </select>
                <br>

                <fieldset class="form-group">
                    <legend>Tags</legend>
                     {{#each tags}}
                    <div class="form-check">
                       
                        <input type="checkbox"class="form-check-input" id="{{this.id}}">
                        <label for="tag1">{{this.nome}}</label>
                       
                    </div>
                     {{/each}}

                    

                </fieldset>

                <label for="conteudo"><strong>Conteúdo</strong></label>
                <textarea name="conteudo" class="form-control" required>

                </textarea>
                <input type="submit" class="btn btn-primary btn-block mt-2" value="Salvar" />
            </form>

        </div>
    </div>
</div>
